
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    height: 10vh;
    width: 30%;
    text-align: center;
    padding: .5rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px blue;
}
header:hover{
    font-size: 1.1rem;
    box-shadow: 0 0 20px purple;
}
.title{
    margin-top: 1rem
}

.form-section{
    height: 100px;
    width: 980px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px green;
    padding: 0.5rem;
}
.form-section:hover{
    box-shadow: 0 0 20px purple;
}
.form{
    width: 100%;
    height: 100%;
    position: relative;
    gap: 1rem;
}

.form input,select{
    height: 40px;
    border-radius: 20px;
}
#id{
    width: 100px;
}
#name{
    width: 500px;
}
.form button{
    position: absolute;
    bottom: 0;
    right: 45%;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.table-section{
    height: 450px;
    width: 1000px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px red;    
    margin-top: 2rem;
    padding-top: .1rem;
}
.table-section:hover{
    box-shadow: 0 0 20px purple;
}

table{
    width: 90%;
    margin: auto;
    margin-top: 1.3rem;
}
th,td,table{
    border: 1px solid black;
}
tr{
    text-align: center;
}
button.dlt-btn {
padding: 6px 10px;
border: none;
cursor: pointer;
border-radius: 5px;
}